<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sumit Infotech</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/icon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="/intro">Home</a></li>
          <li class="active"><a href="/aboutus">About Us</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/team">Team</a></li>
          <li class="drop-down"><a href="">Community</a>
            <ul>
              <li><a href="#">Web Dev Community</a></li>
              <li class="drop-down"><a href="#">Mobile Dev Community</a>
                <ul>
                  <li><a href="#">Android Dev</a></li>
                  <li><a href="#">iOS Dev</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->


  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Sumit Infotech has always adopted a ethical and sustainable approach to business. We are aware that growth
            is inextricably linked to the well-being of our ecosystem - employees and business partners, local
            communities and the environment.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              At Sumit Infotech, we want to be your end to end IT service organization, big enough to undertake your
              largest project, yet small enough to maintain the loyalty and the intimacy of a boutique firm and in turn
              contribute greatly to your success.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fas fa-laptop-code"></i></div>
              <h4 class="title"><a href="">Run</a></h4>
              <p class="description">How are we enabling our customer to run more efficiently?</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fas fa-exchange-alt"></i></div>
              <h4 class="title"><a href="">Change</a></h4>
              <p class="description">is about how we enable our customers to change faster.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fas fa-chart-line"></i></div>
              <h4 class="title"><a href="">Grow</a></h4>
              <p class="description">Minim will I come, who shall nostrud aliquip advantage from it, but for to
                exercise, school district tarada LIGHT UP ata of work</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="img/about-extra-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Platforms</h4>
            <p>
              Our platform solutions deliver actionable insights and creative solutions to enterprises. In a world of
              multiplying factors and multiple interaction points, our proactive approach enables your business to grow
              exponentially.
            </p>
            <p>
              Sumit Infotech B2B Platforms help orchestrate, analyze, automate and artificially intellectualize the
              delivery of technology to enterprises.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="img/about-extra-2.svg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Collaborative Disruption</h4>
            <p>
              We have invested in nurturing collaboration with 100+ disruptive new age technology players, start-ups,
              and academia globally. Co-innovation and co-creation, together, will\ enable us to quickly deliver
              disruptive impact for our customers.
            </p>
            <h4>
              Future Skilling
            </h4>
            <p>
              Our UpSkilling program strives to create a future-ready workforce while fulfilling Tech Mahindra
              associates’ career aspirations. Powered by AI based platforms, UaaS enables our associates to upskill
              anytime anywhere and stay Fit4Future.
            </p>
          </div>

        </div>

      </div>
    </section><!-- #about -->


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Sumit Infotech</h3>
            <p>Sumit Infotech has always adopted a ethical and sustainable approach to business. We are aware that growth is inextricably linked to the well-being of our ecosystem - employees and business partners, local communities and the environment.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/aboutus">About us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              312 Phase-A <br>
              Mandideep, MP 462046<br>
              India <br>
              <strong>Phone:</strong> +91 7803994667<br>
              <strong>Email:</strong> sumitinfotech@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>At Sumit Infotech, we want to be your end to end IT service organization, big enough to undertake your
              largest project, yet small enough to maintain the loyalty and the intimacy of a boutique firm and in turn
              contribute greatly to your success.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Sumit Infotech</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed by <a href="#">Sumit Infotech</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="https://kit.fontawesome.com/5425d5e900.js" crossorigin="anonymous"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>