<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sumit Infotech</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/icon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: NewBiz
    Theme URL: https://bootstrapmade.com/newbiz-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
        <a href="#intro" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/index">Home</a></li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/team">Team</a></li>
          <li class="drop-down"><a href="">Community</a>
            <ul>
              <li><a href="#">Web Dev Community</a></li>
              <li class="drop-down"><a href="#">Mobile Dev Community</a>
                <ul>
                  <li><a href="#">Android Dev</a></li>
                  <li><a href="#">iOS Dev</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>We provide<br><span>solutions</span><br>for your business!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Sumit Infotech has always adopted a ethical and sustainable approach to business. We are aware that growth
            is inextricably linked to the well-being of our ecosystem - employees and business partners, local
            communities and the environment.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              At Sumit Infotech, we want to be your end to end IT service organization, big enough to undertake your
              largest project, yet small enough to maintain the loyalty and the intimacy of a boutique firm and in turn
              contribute greatly to your success.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fas fa-laptop-code"></i></div>
              <h4 class="title"><a href="">Run</a></h4>
              <p class="description">How are we enabling our customer to run more efficiently?</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fas fa-exchange-alt"></i></div>
              <h4 class="title"><a href="">Change</a></h4>
              <p class="description">is about how we enable our customers to change faster.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fas fa-chart-line"></i></div>
              <h4 class="title"><a href="">Grow</a></h4>
              <p class="description">Minim will I come, who shall nostrud aliquip advantage from it, but for to
                exercise, school district tarada LIGHT UP ata of work</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="img/about-img.svg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="img/about-extra-1.svg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Platforms</h4>
            <p>
              Our platform solutions deliver actionable insights and creative solutions to enterprises. In a world of
              multiplying factors and multiple interaction points, our proactive approach enables your business to grow
              exponentially.
            </p>
            <p>
              Sumit Infotech B2B Platforms help orchestrate, analyze, automate and artificially intellectualize the
              delivery of technology to enterprises.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="img/about-extra-2.svg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Collaborative Disruption</h4>
            <p>
              We have invested in nurturing collaboration with 100+ disruptive new age technology players, start-ups,
              and academia globally. Co-innovation and co-creation, together, will\ enable us to quickly deliver
              disruptive impact for our customers.
            </p>
            <h4>
              Future Skilling
            </h4>
            <p>
              Our UpSkilling program strives to create a future-ready workforce while fulfilling Tech Mahindra
              associates’ career aspirations. Powered by AI based platforms, UaaS enables our associates to upskill
              anytime anywhere and stay Fit4Future.
            </p>
          </div>

        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Services</h3>
          <p>Services That We Deliver Makes Us Dignified As One of The Top App Development Companies</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1" id="Capa_22" x="0px" y="0px" viewBox="0 0 329.591 329.591"
                  style="enable-background:new 0 0 329.591 329.591" xml:space="preserve" width="64px" height="64px"
                  fill="#a4c639">
                  <g id="android">
                    <path
                      d="M240.051,122.295c-4.143,0-7.5,3.357-7.5,7.5v95.899c0,18.398-14.968,33.367-33.366,33.367h-69.891   c-18.398,0-33.366-14.969-33.366-33.367V110.107h118.873c4.143,0,7.5-3.357,7.5-7.5s-3.357-7.5-7.5-7.5H88.427   c-4.143,0-7.5,3.357-7.5,7.5v123.088c0,13.745,5.772,26.159,15.009,34.973v44.381c0,13.532,11.009,24.542,24.541,24.542h0.345   c13.532,0,24.541-11.01,24.541-24.542v-30.987h37.752v30.987c0,13.532,11.009,24.542,24.541,24.542h0.345   c13.532,0,24.541-11.01,24.541-24.542v-44.381c9.236-8.814,15.009-21.229,15.009-34.973v-95.899   C247.551,125.653,244.193,122.295,240.051,122.295z M130.363,305.049c0,5.262-4.28,9.542-9.541,9.542h-0.345   c-5.261,0-9.541-4.28-9.541-9.542v-34.616c5.665,2.333,11.861,3.629,18.357,3.629h1.069V305.049z M217.542,305.049   c0,5.262-4.28,9.542-9.541,9.542h-0.345c-5.261,0-9.541-4.28-9.541-9.542v-30.987h1.069c6.496,0,12.693-1.296,18.357-3.629V305.049z">
                    </path>
                    <path
                      d="M240.782,2.196l-19.604,19.604C208.26,10.884,191.584,4.286,173.387,4.286h-18.297   c-17.726,0-34.014,6.259-46.786,16.672L89.543,2.196c-2.93-2.928-7.678-2.928-10.607,0c-2.929,2.93-2.929,7.678,0,10.607   l18.75,18.75C87.219,44.342,80.927,60.673,80.927,78.449v0.673c0,4.143,3.357,7.5,7.5,7.5h151.623c4.143,0,7.5-3.357,7.5-7.5   v-0.673c0-17.305-5.974-33.23-15.945-45.861l19.784-19.784c2.929-2.93,2.929-7.678,0-10.607   C248.46-0.732,243.712-0.732,240.782,2.196z M96.319,71.622c1.468-12.725,6.996-24.227,15.242-33.19   c0.769-0.359,1.492-0.848,2.127-1.482c0.629-0.629,1.115-1.346,1.474-2.107c10.532-9.651,24.551-15.556,39.929-15.556h18.297   c30.314,0,55.377,22.916,58.771,52.336H96.319z">
                    </path>
                    <path
                      d="M47.484,95.107H47.14c-13.532,0-24.542,11.01-24.542,24.542v67.906   c0,13.532,11.01,24.542,24.542,24.542h0.344c13.532,0,24.541-11.01,24.541-24.542v-67.906   C72.025,106.117,61.016,95.107,47.484,95.107z M57.025,187.555c0,5.262-4.28,9.542-9.541,9.542H47.14   c-5.262,0-9.542-4.28-9.542-9.542v-67.906c0-5.262,4.28-9.542,9.542-9.542h0.344c5.261,0,9.541,4.28,9.541,9.542V187.555z">
                    </path>
                    <path
                      d="M282.452,95.107h-0.345c-13.532,0-24.541,11.01-24.541,24.542v67.906   c0,13.532,11.009,24.542,24.541,24.542h0.345c13.532,0,24.541-11.01,24.541-24.542v-67.906   C306.993,106.117,295.984,95.107,282.452,95.107z M291.993,187.555c0,5.262-4.28,9.542-9.541,9.542h-0.345   c-5.261,0-9.541-4.28-9.541-9.542v-67.906c0-5.262,4.28-9.542,9.541-9.542h0.345c5.261,0,9.541,4.28,9.541,9.542V187.555z">
                    </path>
                  </g>
                </svg></div>
              <h4 class="title"><a href="">Android App <br>Development</a></h4>
              <p class="description">We design, develop and deliver innovative applications and games for Android
                devices, backed effectively with state-of-the-art UI and feature-rich functionality.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1" id="Capa_2" x="0px" y="0px" viewBox="0 0 52.226 52.226"
                  style="enable-background:new 0 0 52.226 52.226" fill="#000" xml:space="preserve" width="64px"
                  height="64px">
                  <g id="apple">
                    <path
                      d="M36.802,1.055L36.747,0l-1.05,0.113c-0.103,0.011-10.252,1.234-10.948,12.581l-0.07,1.136l1.136-0.077    C25.931,13.745,37.426,12.828,36.802,1.055z M34.821,2.322c-0.191,6.838-5.511,8.74-7.953,9.253    C27.798,4.93,32.617,2.905,34.821,2.322z">
                    </path>
                    <path
                      d="M46.584,37.517l-0.639-0.207c-3.867-1.25-6.464-4.792-6.464-8.814c0-3.578,2.023-6.778,5.281-8.352l0.972-0.469    l-0.542-0.933c-0.232-0.4-2.401-3.943-6.983-5.116c-3.634-0.93-7.72-0.107-12.149,2.447c-1.875-1.138-8.103-4.418-13.058-1.13    c-0.97,0.536-11.251,6.695-5.9,23.313c0.157,0.372,3.888,9.113,8.303,12.387c1.191,1.138,4.237,2.56,7.718,0.187    c0.603-0.249,4.638-1.802,7.198,0.017c0.945,0.647,2.595,1.38,4.338,1.38c1.322,0,2.697-0.421,3.859-1.621    c0.542-0.469,5.493-4.888,8.066-11.888l0.075-0.204L46.584,37.517z M37.182,49.115l-0.077,0.073    c-2.193,2.303-5.518,0.1-5.641,0.018c-1.308-0.93-2.823-1.233-4.244-1.233c-2.579,0-4.847,0.999-4.992,1.064l-0.163,0.092    c-3.019,2.107-5.086,0.253-5.305,0.042l-0.118-0.101c-3.993-2.912-7.663-11.507-7.668-11.51    C3.966,21.992,13.56,16.9,13.968,16.693l0.11-0.065c4.647-3.12,11.327,1.396,11.393,1.441l0.533,0.366l0.552-0.333    c4.16-2.515,7.914-3.37,11.157-2.539c2.642,0.676,4.326,2.327,5.15,3.342c-3.347,2.051-5.381,5.63-5.381,9.591    c0,4.556,2.735,8.604,6.902,10.365C41.819,45.122,37.231,49.074,37.182,49.115z">
                    </path>
                  </g>
                </svg></div>
              <h4 class="title"><a href="">iOS App <br>Development</a></h4>
              <p class="description">We design, develop and deliver innovative iOS applications and games for iOS
                devices, backed effectively with state-of-the-art UI and feature-rich functionality.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 511 511"
                  style="enable-background:new 0 0 511 511" xml:space="preserve" width="64px" height="64px"
                  fill="#1094f1">
                  <g>
                    <path
                      d="M39.5,103c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3s-0.8-3.91-2.2-5.3c-1.39-1.4-3.33-2.2-5.3-2.2   c-1.98,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.33-2.2,5.3s0.8,3.91,2.2,5.3C35.59,102.2,37.53,103,39.5,103z">
                    </path>
                    <path
                      d="M63.5,103c1.98,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3s-0.8-3.91-2.2-5.3c-1.39-1.4-3.32-2.2-5.3-2.2   c-1.97,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.33-2.2,5.3s0.8,3.91,2.2,5.3C59.59,102.2,61.53,103,63.5,103z">
                    </path>
                    <path
                      d="M87.5,103c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3s-0.8-3.91-2.2-5.3c-1.39-1.4-3.33-2.2-5.3-2.2   c-1.97,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.33-2.2,5.3s0.8,3.91,2.2,5.3C83.59,102.2,85.53,103,87.5,103z">
                    </path>
                    <path
                      d="M220.803,210.197c-2.929-2.929-7.678-2.929-10.606,0l-72,72c-2.929,2.929-2.929,7.677,0,10.606l72,72   c1.464,1.464,3.384,2.197,5.303,2.197s3.839-0.732,5.303-2.197c2.929-2.929,2.929-7.677,0-10.606L154.106,287.5l66.697-66.697   C223.732,217.874,223.732,213.126,220.803,210.197z">
                    </path>
                    <path
                      d="M295.5,352c-1.97,0-3.91,0.8-5.3,2.2c-1.4,1.39-2.2,3.33-2.2,5.3s0.8,3.91,2.2,5.3c1.39,1.4,3.33,2.2,5.3,2.2   c1.97,0,3.91-0.8,5.3-2.2c1.4-1.39,2.2-3.33,2.2-5.3s-0.8-3.91-2.2-5.3C299.41,352.8,297.47,352,295.5,352z">
                    </path>
                    <path
                      d="M295.5,208c-30.603,0-55.5,24.897-55.5,55.5c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5c0-22.332,18.168-40.5,40.5-40.5   s40.5,18.168,40.5,40.5S317.832,304,295.5,304c-4.142,0-7.5,3.358-7.5,7.5v16c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5v-9.005   c27.07-3.671,48-26.935,48-54.995C351,232.897,326.103,208,295.5,208z">
                    </path>
                    <path
                      d="M119.5,103h304c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-304c-4.142,0-7.5,3.358-7.5,7.5S115.358,103,119.5,103z">
                    </path>
                    <path
                      d="M455.5,103h16c4.142,0,7.5-3.358,7.5-7.5s-3.358-7.5-7.5-7.5h-16c-4.142,0-7.5,3.358-7.5,7.5S451.358,103,455.5,103z">
                    </path>
                    <path
                      d="M471.5,56h-432C17.72,56,0,73.72,0,95.5v320C0,437.28,17.72,455,39.5,455h432c21.78,0,39.5-17.72,39.5-39.5v-320   C511,73.72,493.28,56,471.5,56z M39.5,71h432c13.509,0,24.5,10.991,24.5,24.5V120H15V95.5C15,81.991,25.991,71,39.5,71z M471.5,440   h-432C25.991,440,15,429.009,15,415.5V135h481v280.5C496,429.009,485.009,440,471.5,440z">
                    </path>
                  </g>
                </svg></div>
              <h4 class="title"><a href="">PHP Web <br>Development</a></h4>
              <p class="description">For the newbies among us, PHP is a web development language that has been widely
                adopted for multiple websites throughout the world. It also has its uses in general programming
                functions.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1" id="Capa_11" x="0px" y="0px" viewBox="0 0 496 496"
                  style="enable-background:new 0 0 496 496" xml:space="preserve" width="64px" height="64px"
                  fill="#a4c639">
                  <g>
                    <g>
                      <path
                        d="M488,56H8c-4.418,0-8,3.582-8,8v320c0,4.418,3.582,8,8,8h169.056l-23.712,35.56c-2.452,3.675-1.461,8.643,2.215,11.095    c1.315,0.877,2.86,1.345,4.441,1.345h160c4.418,0.001,8.001-3.581,8.001-7.999c0-1.581-0.468-3.126-1.345-4.441L302.944,392H488    c4.418,0,8-3.582,8-8V64C496,59.582,492.418,56,488,56z M305.056,424H174.944l21.336-32h87.44L305.056,424z M480,376H16v-32h464 V376z M480,328H16V72h464V328z">
                      </path>
                    </g>
                    <g>
                      <path
                        d="M264,104H56c-4.418,0.003-7.997,3.587-7.994,8.006c0.001,0.931,0.164,1.855,0.482,2.73l32,88    c1.15,3.159,4.151,5.262,7.512,5.264h120v16H64c-4.418,0-8,3.582-8,8s3.582,8,8,8h11.056    c-13.362,11.567-14.817,31.776-3.25,45.138c11.567,13.362,31.776,14.817,45.138,3.25c13.362-11.567,14.817-31.776,3.25-45.138    c-1.004-1.16-2.09-2.246-3.25-3.25h62.112c-13.361,11.568-14.814,31.777-3.246,45.138c11.568,13.361,31.777,14.814,45.138,3.246    s14.814-31.777,3.246-45.138c-1.355-1.565-2.859-2.995-4.49-4.27c2.618-1.345,4.273-4.033,4.296-6.976V120h32v24    c0,4.418,3.582,8,8,8s8-3.582,8-8v-32C272,107.582,268.418,104,264,104z M96,280c-8.837,0-16-7.163-16-16s7.163-16,16-16    s16,7.163,16,16S104.837,280,96,280z M93.6,192l-26.176-72H208v16H104c-4.418,0-8,3.582-8,8s3.582,8,8,8h104v40H93.6z M200,280    c-8.837,0-16-7.163-16-16s7.163-16,16-16s16,7.163,16,16S208.837,280,200,280z">
                      </path>
                    </g>
                    <g>
                      <path
                        d="M440,96H328c-4.418,0-8,3.582-8,8v48c0,4.418,3.582,8,8,8h112c4.418,0,8-3.582,8-8v-48C448,99.582,444.418,96,440,96z     M432,144h-96v-32h96V144z">
                      </path>
                    </g>
                    <g>
                      <rect x="272" y="256" width="16" height="16"></rect>
                    </g>
                    <g>
                      <rect x="304" y="256" width="48" height="16"></rect>
                    </g>
                    <g>
                      <rect x="272" y="224" width="80" height="16"></rect>
                    </g>
                    <g>
                      <rect x="272" y="192" width="16" height="16"></rect>
                    </g>
                    <g>
                      <rect x="304" y="192" width="48" height="16"></rect>
                    </g>
                    <g>
                      <path
                        d="M440,240h-40v-16h40c4.418,0,8-3.582,8-8s-3.582-8-8-8h-16v-8c0-4.418-3.582-8-8-8s-8,3.582-8,8v8h-16    c-4.418,0-8,3.582-8,8v32c0,4.418,3.582,8,8,8h40v16h-40c-4.418,0-8,3.582-8,8s3.582,8,8,8h16v8c0,4.418,3.582,8,8,8s8-3.582,8-8    v-8h16c4.418,0,8-3.582,8-8v-32C448,243.582,444.418,240,440,240z">
                      </path>
                    </g>
                  </g>
                </svg></div>
              <h4 class="title"><a href="">Node JS Web <br>Development</a></h4>
              <p class="description">For the newbies among us, Node JS is a web development language that has been
                widely adopted for multiple websites throughout the world. It also has its uses in general programming
                functions.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1" id="Layer_6" x="0px" y="0px" viewBox="0 0 512 512"
                  style="enable-background:new 0 0 512 512" xml:space="preserve" width="64px" height="64px">
                  <g id="wearableApp" fill="#dc2d3c">
                    <path
                      d="M170.667,256c0-18.825-15.309-34.133-34.133-34.133S102.4,237.175,102.4,256c0,18.825,15.309,34.133,34.133,34.133     S170.667,274.825,170.667,256z M119.467,256c0-9.412,7.654-17.067,17.067-17.067c9.404,0,17.067,7.654,17.067,17.067     c0,9.412-7.663,17.067-17.067,17.067C127.121,273.067,119.467,265.412,119.467,256z">
                    </path>
                    <path
                      d="M125.935,50.944c4.54,1.143,9.199-1.647,10.342-6.204l6.921-27.674h27.469v25.6c0,4.71,3.814,8.533,8.533,8.533     s8.533-3.823,8.533-8.533v-25.6h102.4v25.6c0,4.71,3.814,8.533,8.533,8.533s8.533-3.823,8.533-8.533v-25.6h27.469l6.921,27.674     c0.973,3.874,4.446,6.46,8.269,6.46c0.683,0,1.382-0.077,2.074-0.256c4.574-1.143,7.356-5.777,6.212-10.351L349.611,6.46     C348.655,2.662,345.25,0,341.333,0h-204.8c-3.917,0-7.322,2.662-8.277,6.46l-8.533,34.133     C118.579,45.167,121.361,49.801,125.935,50.944z">
                    </path>
                    <path
                      d="M351.932,461.056c-4.565-1.152-9.208,1.638-10.342,6.204l-6.921,27.674H307.2v-25.6c0-4.71-3.814-8.533-8.533-8.533     s-8.533,3.823-8.533,8.533v25.6h-102.4v-25.6c0-4.71-3.814-8.533-8.533-8.533s-8.533,3.823-8.533,8.533v25.6h-27.469     l-6.921-27.674c-1.143-4.565-5.803-7.356-10.342-6.204c-4.574,1.143-7.356,5.769-6.212,10.351l8.533,34.133     c0.956,3.789,4.361,6.46,8.277,6.46h204.8c3.917,0,7.322-2.671,8.277-6.46l8.533-34.133     C359.287,466.825,356.506,462.2,351.932,461.056z">
                    </path>
                    <path
                      d="M298.667,204.8c23.526,0,42.667-19.14,42.667-42.667c0-23.526-19.14-42.667-42.667-42.667     c-23.526,0-42.667,19.14-42.667,42.667C256,185.66,275.14,204.8,298.667,204.8z M298.667,136.533c14.114,0,25.6,11.486,25.6,25.6     s-11.486,25.6-25.6,25.6s-25.6-11.486-25.6-25.6S284.553,136.533,298.667,136.533z">
                    </path>
                    <path
                      d="M179.2,204.8c23.526,0,42.667-19.14,42.667-42.667c0-23.526-19.14-42.667-42.667-42.667     c-23.526,0-42.667,19.14-42.667,42.667C136.533,185.66,155.674,204.8,179.2,204.8z M179.2,136.533     c14.114,0,25.6,11.486,25.6,25.6s-11.486,25.6-25.6,25.6s-25.6-11.486-25.6-25.6S165.086,136.533,179.2,136.533z">
                    </path>
                    <path
                      d="M435.2,256c-4.719,0-8.533,3.823-8.533,8.533v85.333c0,4.71,3.814,8.533,8.533,8.533s8.533-3.823,8.533-8.533v-85.333     C443.733,259.823,439.919,256,435.2,256z">
                    </path>
                    <path
                      d="M435.2,153.6c-4.719,0-8.533,3.823-8.533,8.533v51.2c0,4.71,3.814,8.533,8.533,8.533s8.533-3.823,8.533-8.533v-51.2     C443.733,157.423,439.919,153.6,435.2,153.6z">
                    </path>
                    <path
                      d="M366.933,68.267h-256c-23.526,0-42.667,19.14-42.667,42.667v290.133c0,23.526,19.14,42.667,42.667,42.667h256     c23.526,0,42.667-19.14,42.667-42.667V110.933C409.6,87.407,390.46,68.267,366.933,68.267z M392.533,401.067     c0,14.114-11.486,25.6-25.6,25.6h-256c-14.114,0-25.6-11.486-25.6-25.6V110.933c0-14.114,11.486-25.6,25.6-25.6h256     c14.114,0,25.6,11.486,25.6,25.6V401.067z">
                    </path>
                    <path
                      d="M298.667,307.2C275.14,307.2,256,326.34,256,349.867c0,23.526,19.14,42.667,42.667,42.667     c23.526,0,42.667-19.14,42.667-42.667C341.333,326.34,322.193,307.2,298.667,307.2z M298.667,375.467     c-14.114,0-25.6-11.486-25.6-25.6s11.486-25.6,25.6-25.6s25.6,11.486,25.6,25.6S312.781,375.467,298.667,375.467z">
                    </path>
                    <path
                      d="M290.133,256c0-28.237-22.963-51.2-51.2-51.2c-28.237,0-51.2,22.963-51.2,51.2s22.963,51.2,51.2,51.2     C267.17,307.2,290.133,284.237,290.133,256z M238.933,290.133c-18.825,0-34.133-15.309-34.133-34.133     c0-18.825,15.309-34.133,34.133-34.133s34.133,15.309,34.133,34.133C273.067,274.825,257.758,290.133,238.933,290.133z">
                    </path>
                    <path
                      d="M179.2,307.2c-23.526,0-42.667,19.14-42.667,42.667c0,23.526,19.14,42.667,42.667,42.667     c23.526,0,42.667-19.14,42.667-42.667C221.867,326.34,202.726,307.2,179.2,307.2z M179.2,375.467     c-14.114,0-25.6-11.486-25.6-25.6s11.486-25.6,25.6-25.6s25.6,11.486,25.6,25.6S193.314,375.467,179.2,375.467z">
                    </path>
                    <path
                      d="M341.333,221.867c-18.825,0-34.133,15.309-34.133,34.133c0,18.825,15.309,34.133,34.133,34.133     c18.825,0,34.133-15.309,34.133-34.133C375.467,237.175,360.158,221.867,341.333,221.867z M341.333,273.067     c-9.404,0-17.067-7.654-17.067-17.067c0-9.412,7.663-17.067,17.067-17.067c9.404,0,17.067,7.654,17.067,17.067     C358.4,265.412,350.737,273.067,341.333,273.067z">
                    </path>
                  </g>
                </svg></div>
              <h4 class="title"><a href="">Wearable App <br>Development</a></h4>
              <p class="description">We believes in moving forward with the latest trends and technology. We jumped into
                the service of providing wearable app development on Android and iOS platforms.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  version="1.1" id="Layer_8" x="0px" y="0px" viewBox="0 0 511.999 511.999"
                  style="enable-background:new 0 0 511.999 511.999" xml:space="preserve" width="64px" height="6 4px"
                  fill="#cb1ac5">
                  <g class="game">
                    <g>
                      <path
                        d="M183.445,81.304c9.436,0,18.301,4.587,23.713,12.27c1.882,2.672,5.279,3.817,8.393,2.831    c3.116-0.987,5.233-3.879,5.233-7.147V7.497c0-4.14-3.356-7.497-7.497-7.497H7.848C3.707,0,0.351,3.357,0.351,7.497v51.638    c0,4.14,3.356,7.497,7.497,7.497c4.141,0,7.497-3.357,7.497-7.497V14.994h190.444v57.403c-6.679-3.929-14.378-6.087-22.345-6.087    c-24.182,0-43.853,19.672-43.853,43.853c0,24.181,19.672,43.854,43.853,43.854c7.967,0,15.666-2.159,22.345-6.087v57.403h-74.787    c-3.288,0-6.192,2.142-7.163,5.283c-0.971,3.142,0.219,6.548,2.933,8.404c7.892,5.394,12.603,14.307,12.603,23.844    c0,15.914-12.946,28.86-28.86,28.86c-15.913,0-28.859-12.946-28.859-28.86c0-9.536,4.711-18.451,12.602-23.844    c2.714-1.855,3.903-5.262,2.933-8.404c-0.972-3.141-3.876-5.283-7.163-5.283H15.346V84.126c0-4.14-3.356-7.497-7.497-7.497    c-4.141,0-7.497,3.357-7.497,7.497v128.703c0,4.14,3.356,7.497,7.497,7.497h65.048c-4.023,6.713-6.236,14.478-6.236,22.536    c0,24.182,19.672,43.854,43.853,43.854c24.181,0,43.854-19.672,43.854-43.854c0-8.058-2.212-15.823-6.236-22.536h65.154    c4.141,0,7.497-3.357,7.497-7.497v-81.76c0-3.269-2.117-6.16-5.232-7.147c-3.114-0.986-6.513,0.158-8.394,2.83    c-5.412,7.684-14.276,12.27-23.713,12.27c-15.913,0-28.859-12.946-28.859-28.86C154.587,94.25,167.533,81.304,183.445,81.304z">
                      </path>
                    </g>
                    <g>
                      <path
                        d="M504.151,185.64c4.141,0,7.497-3.357,7.497-7.497V98.077c0-4.14-3.356-7.497-7.497-7.497H300.833    c-4.14,0-7.497,3.357-7.497,7.497v64.226c-6.605-3.936-14.224-6.099-22.122-6.099c-23.974,0-43.478,19.504-43.478,43.478    c0,23.974,19.504,43.478,43.478,43.478c7.897,0,15.515-2.163,22.122-6.099v56.729h-73.525c-3.269,0-6.16,2.117-7.146,5.233    c-0.988,3.116,0.157,6.512,2.829,8.394c7.585,5.342,12.112,14.053,12.112,23.3c0,15.706-12.778,28.484-28.484,28.484    s-28.484-12.778-28.484-28.484c0-9.247,4.527-17.958,12.112-23.3c2.672-1.882,3.817-5.278,2.829-8.394    c-0.987-3.116-3.878-5.233-7.146-5.233H97.516c-4.141,0-7.497,3.357-7.497,7.497v118.394c0,4.14,3.356,7.497,7.497,7.497    c4.141,0,7.497-3.357,7.497-7.497V308.786h56.584c-3.843,6.571-5.954,14.126-5.954,21.932c0,23.974,19.504,43.478,43.478,43.478    c23.974,0,43.478-19.504,43.478-43.478c0-7.807-2.111-15.361-5.954-21.932h56.689v73.42v0.414c0,3.288,2.142,6.192,5.283,7.162    c3.142,0.972,6.547-0.218,8.404-2.933c5.316-7.778,14.058-12.425,23.391-12.437c15.684,0.025,28.437,12.792,28.437,28.483    c0,15.69-12.753,28.457-28.437,28.482c-9.333-0.013-18.075-4.659-23.392-12.437c-1.854-2.714-5.261-3.904-8.403-2.932    c-3.142,0.971-5.283,3.875-5.283,7.163v0.414v73.42H105.013v-52.332c0-4.14-3.356-7.497-7.497-7.497    c-4.141,0-7.497,3.357-7.497,7.497v59.829c0,4.14,3.356,7.497,7.497,7.497h203.317h203.319c4.141,0,7.497-3.357,7.497-7.497    V301.29v-98.157c0-4.14-3.356-7.497-7.497-7.497s-7.497,3.357-7.497,7.497v90.66h-56.585c3.843-6.571,5.954-14.126,5.954-21.932    c0-0.056-0.004-0.112-0.004-0.169c0-0.042,0.004-0.084,0.004-0.126c0-23.974-19.504-43.478-43.477-43.478    c-23.974,0-43.478,19.505-43.478,43.478c0,0.042,0.004,0.084,0.004,0.126c-0.001,0.056-0.004,0.112-0.004,0.169    c0,7.807,2.111,15.361,5.954,21.932h-56.69v-73.834c0-3.288-2.141-6.192-5.283-7.163c-3.142-0.972-6.549,0.218-8.404,2.933    c-5.322,7.789-14.081,12.438-23.429,12.438c-15.706,0-28.484-12.778-28.484-28.484c0-15.706,12.778-28.484,28.484-28.484    c9.348,0,18.106,4.649,23.429,12.437c1.854,2.714,5.26,3.906,8.404,2.933c3.142-0.971,5.283-3.875,5.283-7.163v-73.834h188.325    v72.568C496.654,182.283,500.011,185.64,504.151,185.64z M308.33,308.786h73.525v0.001h0.414c3.288,0,6.192-2.142,7.162-5.283    c0.972-3.142-0.218-6.548-2.932-8.404c-7.752-5.298-12.391-14.039-12.434-23.401c0.088-15.632,12.828-28.323,28.48-28.323    s28.391,12.691,28.479,28.323c-0.044,9.362-4.682,18.103-12.434,23.401c-2.714,1.855-3.902,5.262-2.932,8.404    c0.971,3.141,3.875,5.283,7.162,5.283h0.414h73.42v188.219H308.33v-56.598c6.594,3.851,14.186,5.967,22.038,5.967    c0.016,0,0.033-0.001,0.049-0.001c0.012,0,0.024,0.001,0.036,0.001c23.974,0,43.478-19.505,43.478-43.478    c0-23.974-19.504-43.478-43.478-43.478c-0.012,0-0.024,0.001-0.036,0.001c-0.016,0-0.033-0.001-0.049-0.001    c-7.851,0-15.443,2.116-22.038,5.967V308.786z">
                      </path>
                    </g>
                  </g>
                </svg></div>
              <h4 class="title"><a href="">Dedicated <br>Resources</a></h4>
              <p class="description">We are offering dedicated team model that consists of developers and team members
                who hold best industry experience along with strong technical knowledge and expertise.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>Here are the reasons you can depend on Sumit Infotech to keep you and your business up and running:</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
              <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">Attention to Details</h5>
                <p class="card-text">It’s our attention to the small stuff, scheduling of timelines and keen project management that makes us stand out from the rest. We are creative, while keeping a close eye on the calendar and your budget.</p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
              <i class="fas fa-chart-pie"></i>
              <div class="card-body">
                <h5 class="card-title">A Plan for Success</h5>
                <p class="card-text">You want results. We have found that the best way to get them is with up front research – of your company, competitors, target market and customer psychographics. Only after we fully understand you and your customers, do we recommend a plan of attack.
                </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
              <i class="fa fa-object-group"></i>
              <div class="card-body">
                <h5 class="card-title">Creativity</h5>
                <p class="card-text">We bring our diverse background of advertising, design, branding, public relations, research and strategic planning to work for your company. Not only will your materials look great – they will get results.
                </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
             <i class="fas fa-award"></i>
              <div class="card-body">
                <h5 class="card-title">Experts Only</h5>
                <p class="card-text">First Impressions is comprised of specialists with corporate and agency experience that hail from various backgrounds. As such, First Impressions will never assign second-tier (or gasp! third tier!) support staff to any account.
                </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
              <i class="fas fa-dollar-sign"></i>
              <div class="card-body">
                <h5 class="card-title">Pricing</h5>
                <p class="card-text">Our prices are competitive and fair. There are no surprise bills. Any unexpected or additional expenses must be pre-approved by you. That’s how we would like to be treated, and that is how our clients are treated.
                </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
              <i class="fas fa-handshake"></i>
              <div class="card-body">
                <h5 class="card-title">Meeting Deadlines</h5>
                <p class="card-text">We have worked with select casinos and state agencies for many years. Their rule – if we miss a deadline, we’re out. Period. They have some of the tightest turnarounds in the business – and we’ve never missed a single one.
                </p>
                <a href="#" class="readmore">Read more </a>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section>

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Our Portfolio</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/app1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">App 1</a></h4>
                <p>App</p>
                <div>
                  <a href="img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview"
                    title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/web3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Web 3</a></h4>
                <p>Web</p>
                <div>
                  <a href="img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3"
                    title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/app2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">App 2</a></h4>
                <p>App</p>
                <div>
                  <a href="img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2"
                    title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/card2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Card 2</a></h4>
                <p>Card</p>
                <div>
                  <a href="img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2"
                    title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/web2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Web 2</a></h4>
                <p>Web</p>
                <div>
                  <a href="img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2"
                    title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/app3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">App 3</a></h4>
                <p>App</p>
                <div>
                  <a href="img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3"
                    title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/card1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Card 1</a></h4>
                <p>Card</p>
                <div>
                  <a href="img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1"
                    title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/card3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Card 3</a></h4>
                <p>Card</p>
                <div>
                  <a href="img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3"
                    title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="img/portfolio/web1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Web 1</a></h4>
                <p>Web</p>
                <div>
                  <a href="img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1"
                    title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">

              <div class="testimonial-item">
                <img src="img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Sumit Ojha</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium
                  quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Mukesh Kumar Patel</h3>
                <h4>Full Stack Developer</h4>
                <p>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                  quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>Himanshu Bansal</h3>
                <h4>Designer</h4>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim
                  tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
              </div>

              <div class="testimonial-item">
                <img src="img/testimonial-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa
                  labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                </p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Team</h3>
          <p>Our leadership works continually to protect and instill this vision in every process, project and team member.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Product Manager</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>CTO</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Accountant</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Our Clients</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque dere santome nida.
          </p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-1.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-2.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-3.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-4.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contact Us</h3>
        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14679.911046088395!2d77.50201657219593!3d23.097909908637288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c46466bc255f5%3A0x82067f63d12553af!2sMandideep%2C%20Bhopal%2C%20Madhya%20Pradesh%20462046!5e0!3m2!1sen!2sin!4v1613930188977!5m2!1sen!2sin"
                frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
              <!--     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe> -->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>312 Phase-A Mandideep, India 462046</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>sumitinfotech@gmail.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>+91 7803994667</p>
              </div>
            </div>

            <div class="form">
              <div id="sendmessage">Your message has been sent. Thank you!</div>
              <div id="errormessage"></div>
              <form action="/contactus" method="POST">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                      data-rule="minlen:4" required />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                      data-rule="email" required />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                    data-rule="minlen:4" required />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required"
                    data-msg="Please write something for us" placeholder="Message" required></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Sumit Infotech</h3>
            <p>Sumit Infotech has always adopted a ethical and sustainable approach to business. We are aware that growth is inextricably linked to the well-being of our ecosystem - employees and business partners, local communities and the environment.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/index">Home</a></li>
              <li><a href="/aboutus">About us</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              312 Phase-A <br>
              Mandideep, MP 462046<br>
              India <br>
              <strong>Phone:</strong> +91 7803994667<br>
              <strong>Email:</strong> sumitinfotech@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>At Sumit Infotech, we want to be your end to end IT service organization, big enough to undertake your
              largest project, yet small enough to maintain the loyalty and the intimacy of a boutique firm and in turn
              contribute greatly to your success.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Sumit Infotech</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed by <a href="#">Sumit Infotech</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="https://kit.fontawesome.com/5425d5e900.js" crossorigin="anonymous"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>

</html>